### Maven / Spring Boot ###
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.jar
*.war
*.ear

### IntelliJ IDEA / VS Code ###
*.iml
.idea/
.vscode/

### Sistema Operacional ###
.DS_Store
Thumbs.db

### Arquivos de ambiente ###
.env
*.local

### Terraform ###
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfplan
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

### Docker ###
*.pid
*.seed
*.bak

### Outros ###
HELP.md
